<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
        <link rel="me" href="https://mastodon.social/@samemrecebi">
        <link rel="me" href="https://sr.ht/~samemrecebi">
        <link rel="me" href="https://github.com/samemrecebi">
        <meta name="fediverse:creator" content="@samemrecebi@mastodon.social">
    </head>

    {{ block "body" . }}
        <body>
    {{ end }}
    
        <div class="container">
            {{ partial "header.html" . }}

            <div class="content">
                {{ block "main" . }}{{ end }}
            </div>

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}
        <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    </body>
</html>
